body, html{
    background-color: blue;
}

div{
    border: 5px solid #f666
}
P{
    border: 5px solid rgb(255, 3, 3)
}
h1{
    border: 5px solid rgba(0, 128, 255, 0.4);
    width: 250px;
    border:5px solid #339;
}
.card{
    background-color: #ff79;
    width: 250px;
    border: 5px solid #4444
}
.card-imagem{
    margin-top:25px;
    margin-left:30px;
    margin-right:10px;
    margin-bottom:10px;
    border:1px double #288;
}

.card-botao{
    width: 100%; /* largura do elemento */
    padding: 15px 0; /* espaçamento interno */
    background-color: orangered; /* cor de fundo */
    color:aliceblue; /* cor do texto */
    font-family: Arial; /* Tipo de fonte */
    font-weight: bold; /* peso da fonte negrito */
}
.card-descricao{
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.card-preco{
    font-family: Impact;
    font-size:25px;
    color: #2fff;
    margin-bottom: 45px;
    padding-left: 10%;
}